<div class="form-horizontal login-form">
  <h2>Administrator Login</h2>

  <form method="post" action="{{context-root}}/login">

    <div class="control-group">
        Please enter your Admin login ID and password, then click "OK" to continue.
    </div>

    <div class="control-group">
      <input type="text" name="login" placeholder="Login ID" class="input-block-level" />
    </div>
    <div class="control-group">
      <input type="hidden" name="appid" value="{{appdata.id}}" />
      <input type="password" name="password" placeholder="Password" class="input-block-level" />
    </div>

    <div class="control-group">
      <input type="submit" value="OK" class="btn btn-primary pull-right" />
    </div>

    <div class="control-group">
        <small>Copyright 2002-2013 Law of the Jungle Pty Limited.</small>
    </div>

  </form>
</div>
