<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link href="/css/jquery-ui.min.css" rel="stylesheet" type="text/css">
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/css/main.css" rel="stylesheet" type="text/css">
    <link href="/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css">
  </head>
  <body>

    {{#authenticated?}}
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="{{context-root}}/">
            <img src="{{context-root}}/img/lotj-logo.gif">
          </a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              {{#authenticated?}}
              {{#nav-links}}
              <li><a href="{{link}}">{{label}}</a></li>
              {{/nav-links}}
              {{/authenticated?}}
            </ul>
            <ul class="nav pull-right">
              {{^authenticated?}}
              <li><a href="{{context-root}}/login">Log in</a></li>
              {{/authenticated?}}
              {{#authenticated?}}
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                  <i class="icon-user icon-white"></i>
                  <span style="margin: 0 5px;">{{user}}</span>
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="{{context-root}}/profile">Profile</a></li>
                  <li><a href="{{context-root}}/logout">Logout</a></li>
                </ul>
              </li>
              {{/authenticated?}}
            </ul>
          </div>
        </div>
      </div>
    </div>
    {{/authenticated?}}

    <div class="container" id="content">

      {{#alerts}}
      <div class="alert {{class}}">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>{{message}}</strong>
      </div>
      {{/alerts}}

      {{{body}}}
    </div>
    <script src="/js/jquery.min.js" type="text/javascript"></script>
    <script src="/js/jquery.ui.core.min.js" type="text/javascript"></script>
    <script src="/js/bootstrap.min.js" type="text/javascript"></script>
  </body>
</html>
